/*
 * Image Annotation API
 * No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)
 *
 * The version of the OpenAPI document: latest
 *
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package app.bpartners.gen.annotator.endpoint.rest.api;

import app.bpartners.gen.annotator.endpoint.rest.OpenapiGenerated;
import app.bpartners.gen.annotator.endpoint.rest.client.ApiClient;
import app.bpartners.gen.annotator.endpoint.rest.client.ApiException;
import app.bpartners.gen.annotator.endpoint.rest.client.ApiResponse;
import app.bpartners.gen.annotator.endpoint.rest.client.Pair;
import app.bpartners.gen.annotator.endpoint.rest.model.AnnotationBatch;
import app.bpartners.gen.annotator.endpoint.rest.model.AnnotationBatchReview;
import com.fasterxml.jackson.core.type.TypeReference;
import com.fasterxml.jackson.databind.ObjectMapper;
import java.io.IOException;
import java.io.InputStream;
import java.net.URI;
import java.net.http.HttpClient;
import java.net.http.HttpRequest;
import java.net.http.HttpResponse;
import java.time.Duration;
import java.util.ArrayList;
import java.util.List;
import java.util.StringJoiner;
import java.util.function.Consumer;

@OpenapiGenerated
@SuppressWarnings("all")
public class UserAnnotationsApi {
  private final HttpClient memberVarHttpClient;
  private final ObjectMapper memberVarObjectMapper;
  private final String memberVarBaseUri;
  private final Consumer<HttpRequest.Builder> memberVarInterceptor;
  private final Duration memberVarReadTimeout;
  private final Consumer<HttpResponse<InputStream>> memberVarResponseInterceptor;
  private final Consumer<HttpResponse<String>> memberVarAsyncResponseInterceptor;

  public UserAnnotationsApi() {
    this(new ApiClient());
  }

  public UserAnnotationsApi(ApiClient apiClient) {
    memberVarHttpClient = apiClient.getHttpClient();
    memberVarObjectMapper = apiClient.getObjectMapper();
    memberVarBaseUri = apiClient.getBaseUri();
    memberVarInterceptor = apiClient.getRequestInterceptor();
    memberVarReadTimeout = apiClient.getReadTimeout();
    memberVarResponseInterceptor = apiClient.getResponseInterceptor();
    memberVarAsyncResponseInterceptor = apiClient.getAsyncResponseInterceptor();
  }

  protected ApiException getApiException(String operationId, HttpResponse<InputStream> response)
      throws IOException {
    String body = response.body() == null ? null : new String(response.body().readAllBytes());
    String message = formatExceptionMessage(operationId, response.statusCode(), body);
    return new ApiException(response.statusCode(), message, response.headers(), body);
  }

  private String formatExceptionMessage(String operationId, int statusCode, String body) {
    if (body == null || body.isEmpty()) {
      body = "[no body]";
    }
    return operationId + " call failed with: " + statusCode + " - " + body;
  }

  /**
   * annotates a task and sets the task status to COMPLETED
   *
   * @param userId (required)
   * @param taskId (required)
   * @param annotationBatchId (required)
   * @param annotationBatch (optional)
   * @return AnnotationBatch
   * @throws ApiException if fails to make API call
   */
  public AnnotationBatch annotateAndCompleteTask(
      String userId, String taskId, String annotationBatchId, AnnotationBatch annotationBatch)
      throws ApiException {
    ApiResponse<AnnotationBatch> localVarResponse =
        annotateAndCompleteTaskWithHttpInfo(userId, taskId, annotationBatchId, annotationBatch);
    return localVarResponse.getData();
  }

  /**
   * annotates a task and sets the task status to COMPLETED
   *
   * @param userId (required)
   * @param taskId (required)
   * @param annotationBatchId (required)
   * @param annotationBatch (optional)
   * @return ApiResponse&lt;AnnotationBatch&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<AnnotationBatch> annotateAndCompleteTaskWithHttpInfo(
      String userId, String taskId, String annotationBatchId, AnnotationBatch annotationBatch)
      throws ApiException {
    HttpRequest.Builder localVarRequestBuilder =
        annotateAndCompleteTaskRequestBuilder(userId, taskId, annotationBatchId, annotationBatch);
    try {
      HttpResponse<InputStream> localVarResponse =
          memberVarHttpClient.send(
              localVarRequestBuilder.build(), HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode() / 100 != 2) {
          throw getApiException("annotateAndCompleteTask", localVarResponse);
        }
        return new ApiResponse<AnnotationBatch>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            localVarResponse.body() == null
                ? null
                : memberVarObjectMapper.readValue(
                    localVarResponse.body(),
                    new TypeReference<AnnotationBatch>() {}) // closes the InputStream
            );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    } catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder annotateAndCompleteTaskRequestBuilder(
      String userId, String taskId, String annotationBatchId, AnnotationBatch annotationBatch)
      throws ApiException {
    // verify the required parameter 'userId' is set
    if (userId == null) {
      throw new ApiException(
          400, "Missing the required parameter 'userId' when calling annotateAndCompleteTask");
    }
    // verify the required parameter 'taskId' is set
    if (taskId == null) {
      throw new ApiException(
          400, "Missing the required parameter 'taskId' when calling annotateAndCompleteTask");
    }
    // verify the required parameter 'annotationBatchId' is set
    if (annotationBatchId == null) {
      throw new ApiException(
          400,
          "Missing the required parameter 'annotationBatchId' when calling"
              + " annotateAndCompleteTask");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath =
        "/users/{userId}/tasks/{taskId}/annotations/{annotationBatchId}"
            .replace("{userId}", ApiClient.urlEncode(userId.toString()))
            .replace("{taskId}", ApiClient.urlEncode(taskId.toString()))
            .replace("{annotationBatchId}", ApiClient.urlEncode(annotationBatchId.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Content-Type", "application/json");
    localVarRequestBuilder.header("Accept", "application/json");

    try {
      byte[] localVarPostBody = memberVarObjectMapper.writeValueAsBytes(annotationBatch);
      localVarRequestBuilder.method(
          "PUT", HttpRequest.BodyPublishers.ofByteArray(localVarPostBody));
    } catch (IOException e) {
      throw new ApiException(e);
    }
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * @param userId (required)
   * @param taskId (required)
   * @param annotationBatchId (required)
   * @param reviewId (required)
   * @return AnnotationBatchReview
   * @throws ApiException if fails to make API call
   */
  public AnnotationBatchReview getAnnotationReviewByUserTaskAnnotationBatch(
      String userId, String taskId, String annotationBatchId, String reviewId) throws ApiException {
    ApiResponse<AnnotationBatchReview> localVarResponse =
        getAnnotationReviewByUserTaskAnnotationBatchWithHttpInfo(
            userId, taskId, annotationBatchId, reviewId);
    return localVarResponse.getData();
  }

  /**
   * @param userId (required)
   * @param taskId (required)
   * @param annotationBatchId (required)
   * @param reviewId (required)
   * @return ApiResponse&lt;AnnotationBatchReview&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<AnnotationBatchReview>
      getAnnotationReviewByUserTaskAnnotationBatchWithHttpInfo(
          String userId, String taskId, String annotationBatchId, String reviewId)
          throws ApiException {
    HttpRequest.Builder localVarRequestBuilder =
        getAnnotationReviewByUserTaskAnnotationBatchRequestBuilder(
            userId, taskId, annotationBatchId, reviewId);
    try {
      HttpResponse<InputStream> localVarResponse =
          memberVarHttpClient.send(
              localVarRequestBuilder.build(), HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode() / 100 != 2) {
          throw getApiException("getAnnotationReviewByUserTaskAnnotationBatch", localVarResponse);
        }
        return new ApiResponse<AnnotationBatchReview>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            localVarResponse.body() == null
                ? null
                : memberVarObjectMapper.readValue(
                    localVarResponse.body(),
                    new TypeReference<AnnotationBatchReview>() {}) // closes the InputStream
            );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    } catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder getAnnotationReviewByUserTaskAnnotationBatchRequestBuilder(
      String userId, String taskId, String annotationBatchId, String reviewId) throws ApiException {
    // verify the required parameter 'userId' is set
    if (userId == null) {
      throw new ApiException(
          400,
          "Missing the required parameter 'userId' when calling"
              + " getAnnotationReviewByUserTaskAnnotationBatch");
    }
    // verify the required parameter 'taskId' is set
    if (taskId == null) {
      throw new ApiException(
          400,
          "Missing the required parameter 'taskId' when calling"
              + " getAnnotationReviewByUserTaskAnnotationBatch");
    }
    // verify the required parameter 'annotationBatchId' is set
    if (annotationBatchId == null) {
      throw new ApiException(
          400,
          "Missing the required parameter 'annotationBatchId' when calling"
              + " getAnnotationReviewByUserTaskAnnotationBatch");
    }
    // verify the required parameter 'reviewId' is set
    if (reviewId == null) {
      throw new ApiException(
          400,
          "Missing the required parameter 'reviewId' when calling"
              + " getAnnotationReviewByUserTaskAnnotationBatch");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath =
        "/users/{userId}/tasks/{taskId}/annotations/{annotationBatchId}/reviews/{reviewId}"
            .replace("{userId}", ApiClient.urlEncode(userId.toString()))
            .replace("{taskId}", ApiClient.urlEncode(taskId.toString()))
            .replace("{annotationBatchId}", ApiClient.urlEncode(annotationBatchId.toString()))
            .replace("{reviewId}", ApiClient.urlEncode(reviewId.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * @param userId (required)
   * @param taskId (required)
   * @param annotationBatchId (required)
   * @return List&lt;AnnotationBatchReview&gt;
   * @throws ApiException if fails to make API call
   */
  public List<AnnotationBatchReview> getAnnotationReviewsByUserTaskAnnotationBatch(
      String userId, String taskId, String annotationBatchId) throws ApiException {
    ApiResponse<List<AnnotationBatchReview>> localVarResponse =
        getAnnotationReviewsByUserTaskAnnotationBatchWithHttpInfo(
            userId, taskId, annotationBatchId);
    return localVarResponse.getData();
  }

  /**
   * @param userId (required)
   * @param taskId (required)
   * @param annotationBatchId (required)
   * @return ApiResponse&lt;List&lt;AnnotationBatchReview&gt;&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<List<AnnotationBatchReview>>
      getAnnotationReviewsByUserTaskAnnotationBatchWithHttpInfo(
          String userId, String taskId, String annotationBatchId) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder =
        getAnnotationReviewsByUserTaskAnnotationBatchRequestBuilder(
            userId, taskId, annotationBatchId);
    try {
      HttpResponse<InputStream> localVarResponse =
          memberVarHttpClient.send(
              localVarRequestBuilder.build(), HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode() / 100 != 2) {
          throw getApiException("getAnnotationReviewsByUserTaskAnnotationBatch", localVarResponse);
        }
        return new ApiResponse<List<AnnotationBatchReview>>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            localVarResponse.body() == null
                ? null
                : memberVarObjectMapper.readValue(
                    localVarResponse.body(),
                    new TypeReference<List<AnnotationBatchReview>>() {}) // closes the InputStream
            );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    } catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder getAnnotationReviewsByUserTaskAnnotationBatchRequestBuilder(
      String userId, String taskId, String annotationBatchId) throws ApiException {
    // verify the required parameter 'userId' is set
    if (userId == null) {
      throw new ApiException(
          400,
          "Missing the required parameter 'userId' when calling"
              + " getAnnotationReviewsByUserTaskAnnotationBatch");
    }
    // verify the required parameter 'taskId' is set
    if (taskId == null) {
      throw new ApiException(
          400,
          "Missing the required parameter 'taskId' when calling"
              + " getAnnotationReviewsByUserTaskAnnotationBatch");
    }
    // verify the required parameter 'annotationBatchId' is set
    if (annotationBatchId == null) {
      throw new ApiException(
          400,
          "Missing the required parameter 'annotationBatchId' when calling"
              + " getAnnotationReviewsByUserTaskAnnotationBatch");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath =
        "/users/{userId}/tasks/{taskId}/annotations/{annotationBatchId}/reviews"
            .replace("{userId}", ApiClient.urlEncode(userId.toString()))
            .replace("{taskId}", ApiClient.urlEncode(taskId.toString()))
            .replace("{annotationBatchId}", ApiClient.urlEncode(annotationBatchId.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * get annotationBatch made on a task
   *
   * @param userId (required)
   * @param taskId (required)
   * @param annotationBatchId (required)
   * @return AnnotationBatch
   * @throws ApiException if fails to make API call
   */
  public AnnotationBatch getUserTaskAnnotationBatchById(
      String userId, String taskId, String annotationBatchId) throws ApiException {
    ApiResponse<AnnotationBatch> localVarResponse =
        getUserTaskAnnotationBatchByIdWithHttpInfo(userId, taskId, annotationBatchId);
    return localVarResponse.getData();
  }

  /**
   * get annotationBatch made on a task
   *
   * @param userId (required)
   * @param taskId (required)
   * @param annotationBatchId (required)
   * @return ApiResponse&lt;AnnotationBatch&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<AnnotationBatch> getUserTaskAnnotationBatchByIdWithHttpInfo(
      String userId, String taskId, String annotationBatchId) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder =
        getUserTaskAnnotationBatchByIdRequestBuilder(userId, taskId, annotationBatchId);
    try {
      HttpResponse<InputStream> localVarResponse =
          memberVarHttpClient.send(
              localVarRequestBuilder.build(), HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode() / 100 != 2) {
          throw getApiException("getUserTaskAnnotationBatchById", localVarResponse);
        }
        return new ApiResponse<AnnotationBatch>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            localVarResponse.body() == null
                ? null
                : memberVarObjectMapper.readValue(
                    localVarResponse.body(),
                    new TypeReference<AnnotationBatch>() {}) // closes the InputStream
            );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    } catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder getUserTaskAnnotationBatchByIdRequestBuilder(
      String userId, String taskId, String annotationBatchId) throws ApiException {
    // verify the required parameter 'userId' is set
    if (userId == null) {
      throw new ApiException(
          400,
          "Missing the required parameter 'userId' when calling getUserTaskAnnotationBatchById");
    }
    // verify the required parameter 'taskId' is set
    if (taskId == null) {
      throw new ApiException(
          400,
          "Missing the required parameter 'taskId' when calling getUserTaskAnnotationBatchById");
    }
    // verify the required parameter 'annotationBatchId' is set
    if (annotationBatchId == null) {
      throw new ApiException(
          400,
          "Missing the required parameter 'annotationBatchId' when calling"
              + " getUserTaskAnnotationBatchById");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath =
        "/users/{userId}/tasks/{taskId}/annotations/{annotationBatchId}"
            .replace("{userId}", ApiClient.urlEncode(userId.toString()))
            .replace("{taskId}", ApiClient.urlEncode(taskId.toString()))
            .replace("{annotationBatchId}", ApiClient.urlEncode(annotationBatchId.toString()));

    localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }

  /**
   * gets annotations made on a task
   *
   * @param userId (required)
   * @param taskId (required)
   * @param page (optional)
   * @param pageSize (optional)
   * @return List&lt;AnnotationBatch&gt;
   * @throws ApiException if fails to make API call
   */
  public List<AnnotationBatch> getUserTaskAnnotationBatches(
      String userId, String taskId, Integer page, Integer pageSize) throws ApiException {
    ApiResponse<List<AnnotationBatch>> localVarResponse =
        getUserTaskAnnotationBatchesWithHttpInfo(userId, taskId, page, pageSize);
    return localVarResponse.getData();
  }

  /**
   * gets annotations made on a task
   *
   * @param userId (required)
   * @param taskId (required)
   * @param page (optional)
   * @param pageSize (optional)
   * @return ApiResponse&lt;List&lt;AnnotationBatch&gt;&gt;
   * @throws ApiException if fails to make API call
   */
  public ApiResponse<List<AnnotationBatch>> getUserTaskAnnotationBatchesWithHttpInfo(
      String userId, String taskId, Integer page, Integer pageSize) throws ApiException {
    HttpRequest.Builder localVarRequestBuilder =
        getUserTaskAnnotationBatchesRequestBuilder(userId, taskId, page, pageSize);
    try {
      HttpResponse<InputStream> localVarResponse =
          memberVarHttpClient.send(
              localVarRequestBuilder.build(), HttpResponse.BodyHandlers.ofInputStream());
      if (memberVarResponseInterceptor != null) {
        memberVarResponseInterceptor.accept(localVarResponse);
      }
      try {
        if (localVarResponse.statusCode() / 100 != 2) {
          throw getApiException("getUserTaskAnnotationBatches", localVarResponse);
        }
        return new ApiResponse<List<AnnotationBatch>>(
            localVarResponse.statusCode(),
            localVarResponse.headers().map(),
            localVarResponse.body() == null
                ? null
                : memberVarObjectMapper.readValue(
                    localVarResponse.body(),
                    new TypeReference<List<AnnotationBatch>>() {}) // closes the InputStream
            );
      } finally {
      }
    } catch (IOException e) {
      throw new ApiException(e);
    } catch (InterruptedException e) {
      Thread.currentThread().interrupt();
      throw new ApiException(e);
    }
  }

  private HttpRequest.Builder getUserTaskAnnotationBatchesRequestBuilder(
      String userId, String taskId, Integer page, Integer pageSize) throws ApiException {
    // verify the required parameter 'userId' is set
    if (userId == null) {
      throw new ApiException(
          400, "Missing the required parameter 'userId' when calling getUserTaskAnnotationBatches");
    }
    // verify the required parameter 'taskId' is set
    if (taskId == null) {
      throw new ApiException(
          400, "Missing the required parameter 'taskId' when calling getUserTaskAnnotationBatches");
    }

    HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

    String localVarPath =
        "/users/{userId}/tasks/{taskId}/annotations"
            .replace("{userId}", ApiClient.urlEncode(userId.toString()))
            .replace("{taskId}", ApiClient.urlEncode(taskId.toString()));

    List<Pair> localVarQueryParams = new ArrayList<>();
    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    localVarQueryParameterBaseName = "page";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("page", page));
    localVarQueryParameterBaseName = "pageSize";
    localVarQueryParams.addAll(ApiClient.parameterToPairs("pageSize", pageSize));

    if (!localVarQueryParams.isEmpty() || localVarQueryStringJoiner.length() != 0) {
      StringJoiner queryJoiner = new StringJoiner("&");
      localVarQueryParams.forEach(p -> queryJoiner.add(p.getName() + '=' + p.getValue()));
      if (localVarQueryStringJoiner.length() != 0) {
        queryJoiner.add(localVarQueryStringJoiner.toString());
      }
      localVarRequestBuilder.uri(
          URI.create(memberVarBaseUri + localVarPath + '?' + queryJoiner.toString()));
    } else {
      localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));
    }

    localVarRequestBuilder.header("Accept", "application/json");

    localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
    if (memberVarReadTimeout != null) {
      localVarRequestBuilder.timeout(memberVarReadTimeout);
    }
    if (memberVarInterceptor != null) {
      memberVarInterceptor.accept(localVarRequestBuilder);
    }
    return localVarRequestBuilder;
  }
}
